# Environment files - NEVER push these
.env
backend/.env
frontend/.env
**/.env

# Dependencies
node_modules/
.venv/
venv/

# Build folders
dist/
build/

# Zip files
*.zip

# Logs
*.log

# Python cache
__pycache__/
*.pyc